# API-Football (https://www.api-football.com/)
API_KEY=your_api_football_key_here

# Azure Data Lake Gen2
AZURE_CONNECTION_STRING=your_azure_connection_string_here
AZURE_CONTAINER_NAME=footballdata

# PostgreSQL (dbt warehouse)
POSTGRES_HOST=postgres-dbt
POSTGRES_PORT=5432
POSTGRES_DB=footballdw
POSTGRES_USER=dbtuser
POSTGRES_PASSWORD=dbtpassword